nav, article, aside, footer section {
    margin: 0 auto;
    width: 900px;
  }
  
  nav {
    margin-top: 25px;
  }
  .date {
    float: left;
    color: #a9a8a5;
    font-family: 'Abel', sans-serif;
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 33px;
  }
  
aside {
    padding-top: 30px;
    padding-bottom: 60px
  }